<div class="partial rulesp">
	<h2>The Rules</h2>
	<ul>
	<% @rules.each do |rule| %>
		<li><%= rule.body %><br>
		<% if rule.signs != nil %>
			<% rule.signs.each do |sign| %>
				<strong><%= sign.caption %> -</strong><br>
				<iframe src="<%= sign.gif %>" width="300" height="168" frameBorder="0"></iframe></li>
			<% end %>
		<% end %>
		<br>
	<% end %>
	</ul>
</div>