<div class="dropdown">
	<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select your sport
	<span class="caret"></span></button>
	<ul class="dropdown-menu">
		<% @sports.each do |sport| %>
		<li><a href="/sports/<%= sport.id %>"><%= sport.name %></a></li>
		<% end %>
	</ul>
</div>