<div class="page about-page">
	<div id="maggie">
		<h2>The Coach</h2>
		<div id="maggie-image">
			<%= image_tag("maggie.png") %>
		</div>
		<div id="maggie-about">
			<p>
				It was a crisp spring day in 1996 when Maggie wandered into a big box sporting goods store in search of a baseball mitt for her oldest son, Jack, who was just starting his first year of T-ball. With no sales associates in sight and a limited amount of time, she purchased a suitable-looking mitt and raced home to cart Jack to practice. Only upon arriving at the field and meeting with the T-ball coach was she informed that she had purchased a catcher's mitt that would be utterly useless in a league where team coaches played catcher. And that day an idea was born...
			</p>
			<p>
				A former collegiate basketball captain, Maggie knew her way around the basketball court, but she was a stranger on the baseball field. What if there was a resource for parents like herself, a guide to picking out the right equipment for their children? It would mom-written and mom-approved, and all equipment would be vetted and reviewed to make sure that each child winds up with the correct gear for their age, experience level, and personality. In 2016, Maggie set forth to make her idea a reality. 
			</p>
			<h1>Welcome to Moms Sports Network!</h1>
		</div>
	</div>
	<br>
	<h2>The Team</h2>
	<div id="profile-wrapper">
		<div class="profile">
		<div class="image-profile"><%= image_tag("jack.png")%></div>
			<div class="about-profile">Jack is one of our subject matter experts over here at Moms Sports Network. He's played basketball since 1998 and earned a smorgasboard of accolades including a spot of the NYS 3rd Team All-State. When he's not tearing up the basketball court, he's hitting the books while working towards his Bachelors in Health Administration. Jack is an avid fan of the Minnesota Vikings and the political thriller show <em>24</em>.</div>
		</div>
		<div class="profile">
			<div class="image-profile"><%= image_tag("dan.png")%></div>
			<div class="about-profile">Dan is a subject matter expert here at Moms Sports Network, as well as a lifelong multi-sport athlete who specialized in basketball. He's currently working towards his Bachelors in Biology with hopes of becoming a physical therapist. His interests include working out and playing video games.</div>
		</div>
		<div class="profile">
			<div class="image-profile"><%= image_tag("nancy.png")%></div>
			<div class="about-profile">Nancy is the website architect of www.momssportsnetwork.com and a former volleyball player. She has a passion for all things nacho-related and hopes to someday start a parody band entitled <em>King Nacho</em>. When she's not elbow-deep in a plate of Mexican food, Nancy can be found on the stage of various community theater musicals, most recently <em>Spamalot</em>.</div>
		</div>
	</div>
</div>