<div class="page home-page">

	<section id="welcome">
		<header>
			<h3>Welcome!</h3>
		</header>
		<p> 
			The intent of Moms Sports Network is to provide a place for women to go to learn the basics about selected major sports in order to improve their ability to communicate with their significant others, children, partners, and business colleagues, and ultimately empower them in the process. 
		</p>
	</section>

	<section class="pick-sport">
		<header>
			<h3>Pick a sport to get started:</h3>
		</header>
		<%= render 'shared/sportlist' %>
	</section>

</div>