<div class="page sports-page">

	<div class="sports-page-wrapper">
		<% @sports.each do |sport |%>
			<a href="/sports/<%= sport.id %>">
			<div class="sport-mod">
				<div class="the-name"><%= sport.name %></div>
				<div class="the-image"><img src="<%= sport.image %>"></div>
			</div>
			</a>
		<% end %>
	</div>
</div>