<div class="page news-page">
	<header class="sport-header">The Sports Page</header>
	<div id="news-header">
		<h1>What's new in the world of sports?</h1>
		<h6><em>Courtesy of the New York Times Article Search API</em></h6>
	</div>
	<section id="news-display">
		<% @result.each do |res|%>
			<div class="news-return">
				<div class="headline">
					<a href="<%= res[:url] %>" class="news-link"><%= res[:headline] %></a>
				</div>
				<div class="news-image">
					<img src='<%= res[:image] %>' >
				</div>
				<hr />
				<div class="news-body">
					<%= res[:body] %> 
				</div>
			</div>
		<% end %>
	</section>
</div>