// Place all the styles related to the forum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

#sidebar {
	width: 40%;
	float: right;
	text-align: center;
	.query-form{
		width: 80%;
		margin: 0 auto;
		.label{
			color: black;			
		}

	}
}

#query-list{
	width: 55%;
	float: left;
	h2 {
		text-align: center;
	}
	.query-index {
		text-align: center;
		line-height: 50px;
	}
}

#query{
	header {
		text-align: center;
		text-decoration: underline;
	}
	#query-body{
		border: $grayborder;
		padding: 2%;
	}
}

.new-comment-form{
	margin: 2%;
	form .label {
		color: black;
	}
}

.comment-show{
		border: $grayborder;
		padding: 1.3%;
		width: 90%;
		margin: 0 auto;
}

#comment_submit_action {

	input{
		padding: 3%;

	}
	
}



