// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	min-height: 60vh;
}

.home-page{
	border: $border;
	border-radius: 25px;
	padding: 1%;
	min-height: 60vh;
}

.pick-sport{
	max-width: 340px;
	margin: 0 auto;
}

#logo {
	max-width: 300px;
	background-color: $white;
	padding-left: 10%;
	font-family: 'Rock Salt', cursive;
	h2 {
		padding: 0;
		margin: 0;
	}
	a {
		display: inline-block;
		height: 100%;
		width: 100%;
		color: #2f3234;
		padding: 10px 20px;
		&:link{
			text-decoration: none;
		}
		&:visited{
			color: #2f3234;
		}
	}
}



nav {
	background-color: $green;
	ul {
		list-style-type: none;
		text-align: center;
		li {
			display: inline-block;
			&:hover{
				background-color: $hovergreen;
			}
			a {
				display: inline-block;
				height: 100%;
				width: 100%;
				color: $white;
				padding: 10px 20px;
				&:link{
					text-decoration: none;
				}
				&:visited{
					color: $white;
				}
			}
		}
	}
}






