// Place all the styles related to the quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.quizlet {
	max-width: 500px;
	margin: 0 auto;
	#your-score{
		max-height: 100px;
		margin-top: 3%;
		margin-bottom: 6%;
	}
}


.correct-answer p {
	box-shadow: 0 0 5px green;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid green;
	color: green;
}

.wrong-answer p{
	box-shadow: 0 0 5px red;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid red;
	color: green;
	color: red;
}