// Place all the styles related to the sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.sports-nav{
	width: 25%;
	float: left;
	border: 1px solid black;
}

.sports-content{
	width: 70%;
	float: left;
	margin-left: 3%;
	border: 1px solid black;
	padding: 1%;
	img{
		width: 25%;
		float: right;
	}
}

.partial {
	display: none;
	h2{
		text-align: center;
	}
}

.sport-section{
	.sport-title{
	}
	.sport-body {
		display: none;
	}
}